@charset "utf-8";
.box1 {
    width: 100px;
    height: 100px;
    background-color: #5E1E1F;
    border-radius: 15px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: #B2595A;
    border-radius: 15px;
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: #C79596;
    border-radius: 15px;
}
